* {
    padding: 0;
    margin: 0;
    list-style: none;
}

img,
input {
    display: block;
}

.fs16 {
    font-size: 0.16rem;
}

.w20h18 {
    width: 0.2rem;
    height: 0.2rem;
}

.w60h46 {
    width: 0.6rem;
    height: 0.46rem;
}

.fs12 {
    font-size: 0.12rem;
}

.fs14 {
    font-size: 0.14rem;
}

.fw500 {
    font-weight: 500;
}

.mft6 {
    margin-top: 0.06rem;
}

.w40h40 {
    width: 0.4rem;
    height: 0.4rem;
}

.colorwhite {
    color: white;
}

.s {
    text-decoration: line-through;
}

.w70h27 {
    width: 0.7rem;
    height: 0.27rem;
}

.w66h66 {
    width: 0.66rem;
    height: 0.66rem;
}